{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block scripts %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static "js/lib/js.cookie.js" %}" type="text/javascript"></script>
    <script src="{% static "js/lib/termlib_min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/lib/termlib_parser_min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/terminal.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/term_styles.css" %}">
{% endblock %}
<body>
<div class="wrapper">
    {% block content %}
        <div id="closed-hint"></div>
        <div id="termDiv" class="terminal"></div>
        <script type="text/javascript">
            termOpen();
        </script>
    {% endblock %}
</div>
</body>
</html>